.button-scale {
  background-color: blanchedalmond;
  border-radius: 8px;
  transition: all 300ms;
}

.button-scale:hover {
  background-color: rgb(26, 98, 26);
  border-radius: 14px;
  scale: 1.005;
}

.button-scale:active {
  scale: 0.85;
}

/*Animations*/

.animate-red-to-green {
  animation-name: red-to-green;
  animation-duration: 10s;
}

@keyframes red-to-green {
  from {
    color:rgb(255, 0, 0);
  }

  to {
    color: rgb(0, 255, 0);
  }
}

.animated-ball {
  background-color: orangered;
  height: 200px;
  width: 200px;
}

.animated-ball > div {
  height: 50px;
  background-color: black;
  width: 50px;
  border-radius: 10000px;
  margin-left: auto;
  margin-right: auto;

animation-name: bouncing-ball;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes bouncing-ball {

  0% {
    transform: translateY(0px);
  }
  
  40% {
    transform: translateY(150px);
    height: 50px;
    width: 50px;
  }

  50% {
    transform: translateY(160px);
    height: 40px;
    width: 60px;
  }

  60% {
    transform: translateY(150px);
    height: 50px;
    width: 50px;
  }

  100% {
    transform: translateY(0px);
  }
}

/* Slidin Animation */
.slidin-left {
  animation-name: slidin-left;
  animation-duration: 1s;
}

@keyframes slidin-left {
  from {
    transform: translateX(100%);
  }
}

.overflow-hidden {
  overflow: hidden;
}